<div class="wrapper">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="assets/images/recomecar-arvore-background.jpg">
        </div>
        <div class= "container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="parallax-image">
                        <img class="phone" src="/img/template/iphone3.png" style="margin-top: 20px"/>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="description">
                        <h2>TERREIRO DE UMBANDA TEMPO DE RECOMEÇAR</h2>
                        <br>
                        <h5>
                            Estamos trabalhando para trazer a você um espaço virtual onde a espiritualidade e a tradição se encontram. Nosso novo site está em construção e em breve você poderá encontrar informações sobre nossos rituais, eventos, ensinamentos e muito mais.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray section-clients">
        <div class="container text-center">
            <h4 class="header-text">NOSSA LINHA, A UMBANDA</h4>
            <p>
                Umbanda, encontro sagrado entre o céu e a terra, onde o canto dos orixás ecoa no coração dos devotos. Em suas giras, a dança das entidades é um sussurro de ancestrais, um abraço de luz que dissolve as dores. Na fumaça dos cachimbos e nos atabaques que ressoam, a fé se faz ponte entre mundos, onde Exu abre caminhos e Iemanjá embala esperanças. É magia de amor e cura, é o axé que vibra, unindo todos em um só coro de espiritualidade e paz.    
            </p>
        </div>
    </div>
   
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                        Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        Sobre o terrero
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        Umbanda
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        Contatos
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="social-area pull-right">
                <a class="btn btn-social btn-instagram btn-simple">
                <i class="fa fa-instagram"></i>
                </a>
                <a class="btn btn-social btn-twitter btn-simple">
                <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="copyright">
                &copy; 2024 <a href="http://www.templorecomecar.com.br">Templo de Umbanda Tempo de Recomeçar</a> - Todos direitos reservados
            </div>
        </div>
    </footer>
</div>